body{ margin:0; padding:0;background-color: #e8e8e8;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
header{width: 100%;background-color: #000000;color: #e8e8e8;height: 50px;  }
.nav{width: 100%;height: 50px;font-size: 1.3em;  }
.nav_left ul{padding-left: 0;}
.nav_left li{width: 80px;height:50px;line-height:50px;list-style-type: none;float: left;text-align: center;}
.nav_left li:first-child{font-size: 1.2em;}
.nav a{color: #ccc;text-decoration: none;}
.nav a:hover,.nav a:active{color: #fa6557;text-decoration: none;}
.nav li{list-style-type: none;width: 100px; float: left;text-align: center;line-height: 40px;}
.btn{color: #ccc;}
.btn:hover{color: #fa6557;}
.search_text{width:190px;height: 40px;margin-left:40%;padding-right:25px;background-color: #020202;border-left: hidden ;border-top: hidden;border-right: hidden;border-bottom: 1px solid rgb(57, 57, 57);  outline: none;  }

.main{ width:1300px;height:600px; margin:0 auto;padding-top:20px; }
.left{ width:190px; height:300px; background:#ccc; float:left;  background-color: rgb(255, 255, 255);  filter:alpha(opacity=50);  background: rgba(255,255,255,0.3); /*设置背景透明度*/  position:static;  }
.left ul{padding-left:0;list-style:none;}
.left li{margin-top: 5px;}
.left a{position:relative;}/*背景透明，a标签不透明*/

.right{ width:900px; height:550px;background:rgb(255, 255, 255);  float:left;margin-left:50px;  filter:alpha(opacity=50);  background: rgba(255,255,255,0.6); /*设置背景透明度*/  position:static;  }
.right dl{position:relative;padding-left:50px;}
.left a,.right a{ font-size:20px; font-weight:bold;color:#333;text-decoration:none; display:block; height:60px;text-align:center; line-height:50px; width:190px}
.left a:hover,.right a:hover{background-color: #fa6557; color:#fff; margin-top:-10px;/*向上拉伸*/line-height:50px;}
.right dd{color:gray;  width:150px;  height:60px;  float:left;  margin:30px;  }
.active  a{background-color:  #fa6557;color: #fff;}

.copyright{width: 100%;background-color: #000000;color: #e8e8e8;height: 65px;}
.copyright_content{width: 1300px;margin: 0 auto;}
.copyright_content ul{padding-left: 0;}
.copyright_content li{list-style-type: none;float: left;margin:10px 25px 0 25px;text-align: center;line-height: 34px;}
.copyright_content a{color: #cccccc;text-decoration: none;font-size: 12px;}
.copyright_content a:hover,.copyright_content a:active{color: #fa6557;}
.copyright_foot{font-size: 10px;color: #cccccc;padding-left:15px;width: 300px;}