body { font-family:"ו", arial;margin:0; padding:0; background:  #e8e8e8; color:#737373;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }

header{width: 100%;height: 50px;background-color: white;margin-bottom: 10px;}
.nav_bar{width: 100%;height: 50px;font-size: 1.3em;}
.nav_bar ul{padding-left: 0;}
.nav_bar li{width: 80px;height:50px;line-height:50px;list-style-type: none;float: left;text-align: center;}
.nav_bar li:first-child{font-size: 1.2em;}
.nav_bar li a{color: #737373;}
.nav_bar li a:hover{text-decoration: none;color: #000;}
.navlist{margin-top: 20px;}
.search_text{width:190px;height: 25px;font-size: 0.8em;
    border-left: hidden ;border-top: hidden;border-right: hidden;border-bottom: 1px solid rgb(214, 214, 214);
    outline: none;
    padding-right: 25px;
    margin-left: 40%;
    margin-top: 15px;
}
.container{width: 90%;}
.container div{margin-top: 10px;}
#timeline{height: 80px;padding-bottom: 20px;border-bottom: 1px solid silver;}
.point{display:inline-block;width: 12px;height: 8px;background-color: transparent;border: 1px solid #737373;box-shadow:2px 2px 6px  #737373;}


.copyright{width: 100%;height: 150px;background-color: #fff;}